html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.app-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

nav {
  margin-bottom: 20px;
}

footer {
  margin-top: 50px;
}

.skeleton-loader {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.skeleton-line {
  height: 20px;
  background: linear-gradient(90deg, #e0e0e0 25%, #f8f8f8 50%, #e0e0e0 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
  border-radius: 5px;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }

  100% {
    background-position: 200% 0;
  }
}

#scoring-popover {
  max-width: 300px;
  font-size: 0.9rem;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 8px;
}

.skeleton-chart {
  width: 100%;
  height: 300px;
  background: linear-gradient(90deg, #e0e0e0 25%, #f0f0f0 50%, #e0e0e0 75%);
  background-size: 200% 100%;
  animation: skeleton-loading 1.5s infinite;
  border-radius: 8px;
}

@keyframes skeleton-loading {
  0% {
    background-position: 100% 0;
  }

  100% {
    background-position: -100% 0;
  }
}

.chart-container {
  position: relative;
  width: 100%;
  height: 300px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}



.canvas {
  width: 100% !important;
  height: 100% !important;
}


input.form-control {
  max-width: 300px;
}

.row.g-4>div {
  display: flex;
  justify-content: center;
  align-items: center;
}
